
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^pgsfarchitects\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.pgsfarchitects\.com$
RewriteRule ^(.*)$ "https\:\/\/pgsfarchitects\.com\/$1" [R=301,L]

